.musicSectionContainer {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 1.5rem;
}

.musicCardContainer {
    padding: 1rem;
    border-radius: 0.5rem;
    
    background-color: var(--bg-secondary);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.musicImageGroup {
    position: relative;
    margin-bottom: 0.75rem;
    display: group;
}

.musicImageContainer {
    position: relative;
    overflow: hidden;
    border-radius: 0.375rem;
}

.musicImageContainer::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--bg-image-overlay-brand);
    mix-blend-mode: hue;
    z-index: 2;
    pointer-events: none;
    border-radius: 0.375rem;
}

.musicImage {
    object-fit: cover;
    width: 100%;
    height: auto;
    transition: transform 300ms ease-in-out;
    position: relative;
    z-index: 1;
}

.musicHoverOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    border-radius: 0.375rem;
}

.musicImageGroup:hover .musicHoverOverlay {
    opacity: 0.9;
    background-color: var(--bg-hover-primary);
}

.musicImageGroup:active .musicHoverOverlay {
    opacity: 0.9;
    background-color: var(--bg-hover-primary);
}

.musicSongsList {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.musicSongItem {
    margin-bottom: 0.25rem;
}

