/* Global Button Styles */
.copyButton {
    padding: 0.5rem;
    background-color: var(--bg-card);
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s ease;
}

.copyButton:hover {
    background-color: var(--bg-hover-accent);
}

.primaryButton {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    background-color: var(--bg-highlight);
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.primaryButton:hover {
    background-color: var(--bg-hover-accent);
}

.secondaryButton {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    background-color: var(--bg-secondary);
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.secondaryButton:hover {
    background-color: var(--bg-hover-accent);
}

.closeButton {
    padding: 0.5rem;
    border-radius: 0.375rem;
    background-color: var(--bg-card);
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.closeButton:hover {
    background-color: var(--bg-hover-accent);
}